.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.header-left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-right-section {
  display: flex;
  align-items: center;
}

::ng-deep .generate-keypair-button {
  background-color: var(--p-static-color-yellow) !important;
  color: var(--p-static-color-grey) !important;
}
::ng-deep .generate-keypair-button:hover {
  background-color: var(--p-static-color-light-yellow) !important;
}
