<p-dialog
  [(visible)]="whatsAppContactListDialogVisible"
  [header]="'WhatsApp Contacts'"
  [modal]="true"
  [style]="{ width: '25rem', height: '29rem' }"
>
  <p-listbox
    [options]="cContacts"
    [(ngModel)]="cContact"
    [filter]="true"
    optionLabel="name"
    class="w-full md:w-56"
  >
    <ng-template let-ccontact #item>
      <div class="flex items-center gap-2">
        <img [src]="ccontact.profilePicUrl" style="width: 18px" />
        <div>{{ ccontact.name }}</div>
      </div>
    </ng-template>
  </p-listbox>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="this.cContact"
      icon="pi pi-send"
      styleClass="footerButton"
      [label]="'SEND' | translate"
      (onClick)="send()"
    />
  </ng-template>
</p-dialog>
