td {
  padding: 0 !important;
}

.buttons-cell {
  text-align: center !important;

  div {
    display: inline-block !important;
    text-align: left !important;
  }
}

::ng-deep .p-checkbox-box {
  width: 20px !important;
  height: 20px !important;
}

::ng-deep .p-popover {
  --p-popover-arrow-offset: 7rem !important;
}
