@font-face {
  font-family: 'Jura';
  src: url('assets/fonts/Jura-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.light-theme {
  --second-color: #504021;
  --primary-color: #c5beb6;
  --primary-color-hover: #d5ccb9;
}

body.dark-theme {
  --second-color: #bc9a4f;
  --primary-color: #45433c;
  --primary-color-hover: #55534b;
}

.p-button, .p-select {
  background-color: var(--primary-color) !important;
  color: var(--second-color) !important;
}
.p-button:hover, .p-select:hover {
  background-color: var(--primary-color-hover) !important;
}

.p-select {
  border-color: var(--primary-color-hover) !important;
}
.p-select-option-selected {
  background-color: var(--second-color) !important;
}
.p-inputwrapper-focus {
  outline-color: var(--second-color) !important;
  box-shadow: 0 0 5px var(--second-color) !important;
}

body {
  background-color: var(--primary-color) !important;
  color: var(--second-color) !important;
  font-family: 'Jura', serif;
}
