<div class="grid" style="width: 99%">
  <div class="col-4">
    <p-button (onClick)="addFiles()" [label]="'CONTROL_SECTION.ADD_FILES_BUTTON' | translate" [style]="{'width': '200px'}" size="large"/>
  </div>
  <div class="col-2 total-size text-right">
    {{ 'CONTROL_SECTION.TOTAL_SIZE_LABEL' | translate:{ totalSize: totalSizeFormatted } }}
  </div>
  <div class="col-3">
    <p-button
      *ngIf="allFiles.length > 0"
      icon="pi pi-minus-circle"
      severity="danger"
      [label]="'CONTROL_SECTION.REMOVE_ALL_BUTTON' | translate"
      (onClick)="removeAll()"
    />
  </div>
  <div class="col-3">
    <p-button
      *ngIf="allFiles.length > 0"
      icon="pi pi-send"
      [label]="'CONTROL_SECTION.SEND_ALL_BUTTON' | translate"
    />
  </div>
</div>

<div class="grid" style="width: 99%">
  <div class="col-6"></div>
  <div class="col-3">
    <p-button
      *ngIf="allFiles.length > 0"
      icon="pi pi-lock"
      size="small"
      [label]="'CONTROL_SECTION.ENCRYPT_ALL_BUTTON' | translate"
      (onClick)="showEncryptDialog('ALL')"
    />
  </div>
  <div class="col-3">
    <p-button
      *ngIf="allFiles.length > 0 && containEncrypted()"
      icon="pi pi-lock-open"
      size="small"
      [label]="'CONTROL_SECTION.DECRYPT_ALL_BUTTON' | translate"
      (onClick)="showDecryptDialog('ALL')"
    />
  </div>
</div>

<div class="grid" style="width: 99%">
  <div class="col-6"></div>
  <div class="col-3">
    <p-button
      *ngIf="selectedFiles.length > 0"
      icon="pi pi-lock"
      size="small"
      [style]="{'background-color': 'var(--second-color)'}"
      [label]="'CONTROL_SECTION.ENCRYPT_SELECTED_BUTTON' | translate"
      (onClick)="showEncryptDialog('SELECTED')"
    />
  </div>
  <div class="col-3">
    <p-button
      *ngIf="selectedFiles.length > 0 && selectedContainEncrypted()"
      icon="pi pi-lock-open"
      size="small"
      [label]="'CONTROL_SECTION.DECRYPT_SELECTED_BUTTON' | translate"
      (onClick)="showDecryptDialog('SELECTED')"
    />
  </div>
</div>

<div class="grid" style="width: 99%">
  <div class="col-6"></div>
  <div class="col-3">
    <p-button
      *ngIf="selectedFiles.length > 0"
      icon="pi pi-minus-circle"
      size="small"
      [label]="'CONTROL_SECTION.REMOVE_SELECTED_BUTTON' | translate"
      (onClick)="removeSelected()"
      severity="danger"
    />
  </div>
  <div class="col-3">
<!--    <p-button-->
<!--      *ngIf="selectedFiles.length > 0"-->
<!--      icon="pi pi-send"-->
<!--      size="small"-->
<!--      [label]="'CONTROL_SECTION.SEND_SELECTED_BUTTON' | translate"-->
<!--    />-->
  </div>
</div>
