<div class="absolute bottom-0 left-0 p-2 border-round">
  <p-button
    (onClick)="addFiles()"
    [label]="'CONTROL_SECTION.ADD_FILES_BUTTON' | translate"
    [style]="{'width': '200px'}"
    size="large"
  />
</div>
<p-divider />
<div class="flex flex-row-reverse flex-wrap pr-2">
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="allFiles.length > 0"
      icon="pi pi-send"
      [label]="'CONTROL_SECTION.SEND_ALL_BUTTON' | translate"
      (onClick)="opAll.toggle($event)"
    />
  </div>
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="allFiles.length > 0"
      icon="pi pi-minus-circle"
      severity="danger"
      [label]="'CONTROL_SECTION.REMOVE_ALL_BUTTON' | translate"
      (onClick)="removeAll()"
    />
  </div>
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1 total-size text-right">
    {{ 'CONTROL_SECTION.TOTAL_SIZE_LABEL' | translate:{ totalSize: totalSizeFormatted } }}
  </div>
</div>

<div class="flex flex-row-reverse flex-wrap pr-2">
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="allFiles.length > 0 && containEncrypted()"
      icon="pi pi-lock-open"
      size="small"
      [label]="'CONTROL_SECTION.DECRYPT_ALL_BUTTON' | translate"
      (onClick)="showDecryptDialog('ALL')"
    />
  </div>
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="allFiles.length > 0"
      icon="pi pi-lock"
      size="small"
      [label]="'CONTROL_SECTION.ENCRYPT_ALL_BUTTON' | translate"
      (onClick)="showEncryptDialog('ALL')"
    />
  </div>
</div>

<div class="flex flex-row-reverse flex-wrap pr-2">
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="selectedFiles.length > 0 && selectedContainEncrypted()"
      icon="pi pi-lock-open"
      size="small"
      [label]="'CONTROL_SECTION.DECRYPT_SELECTED_BUTTON' | translate"
      (onClick)="showDecryptDialog('SELECTED')"
    />
  </div>
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="selectedFiles.length > 0"
      icon="pi pi-lock"
      size="small"
      [style]="{'background-color': 'var(--second-color)'}"
      [label]="'CONTROL_SECTION.ENCRYPT_SELECTED_BUTTON' | translate"
      (onClick)="showEncryptDialog('SELECTED')"
    />
  </div>
</div>

<div class="flex flex-row-reverse flex-wrap pr-2">
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="selectedFiles.length > 0"
      icon="pi pi-send"
      size="small"
      [label]="'CONTROL_SECTION.SEND_SELECTED_BUTTON' | translate"
      (onClick)="opSelected.toggle($event)"
    />
  </div>
  <div class="flex align-items-center justify-content-center w-15rem h-2rem m-1">
    <p-button
      *ngIf="selectedFiles.length > 0"
      icon="pi pi-minus-circle"
      size="small"
      [label]="'CONTROL_SECTION.REMOVE_SELECTED_BUTTON' | translate"
      (onClick)="removeSelected()"
      severity="danger"
    />
  </div>
</div>

<p-popover #opAll>
  <div class="flex justify-content-center align-items-center gap-1" style="width: 100px; height: 25px">
          <span style="cursor: pointer;" (click)="sendAllFiles()">
            <img *ngIf="!isWhatsAppLoading" ngSrc="icons/whatsapp.svg" width="36" height="36" alt="WhatsApp" />
            <p-progressSpinner *ngIf="isWhatsAppLoading" strokeWidth="4" [style]="{ width: '25px', height: '25px' }" />
          </span>
    <!--          <span style="cursor: pointer;" (click)="sendViaSignal(cfile)">-->
    <!--            <img ngSrc="icons/signal.svg" width="36" height="36" alt="Signal" />-->
    <!--          </span>-->
    <!--          <span style="cursor: pointer;" (click)="sendViaThreema(cfile)">-->
    <!--            <img ngSrc="icons/threema.svg" width="36" height="36" alt="Threema" />-->
    <!--          </span>-->
  </div>
</p-popover>

<p-popover #opSelected>
  <div class="flex justify-content-center align-items-center gap-1" style="width: 100px; height: 25px">
          <span style="cursor: pointer;" (click)="sendSelectedFiles()">
            <img *ngIf="!isWhatsAppLoading" ngSrc="icons/whatsapp.svg" width="36" height="36" alt="WhatsApp" />
            <p-progressSpinner *ngIf="isWhatsAppLoading" strokeWidth="4" [style]="{ width: '25px', height: '25px' }" />
          </span>
    <!--          <span style="cursor: pointer;" (click)="sendViaSignal(cfile)">-->
    <!--            <img ngSrc="icons/signal.svg" width="36" height="36" alt="Signal" />-->
    <!--          </span>-->
    <!--          <span style="cursor: pointer;" (click)="sendViaThreema(cfile)">-->
    <!--            <img ngSrc="icons/threema.svg" width="36" height="36" alt="Threema" />-->
    <!--          </span>-->
  </div>
</p-popover>

